.wrap {
    width: 335px;
    height: 54px;
    background-color: #5FA3FC;

    color: #ffffff;
    border-radius: 8px;
    border : 1px solid #91C0FD;
    padding: 12px 10px;

    text-align: center;
    font-size: large;
    font-family: 'Lato', sans-serif;
}

.wrap:hover {
    width: 335px;
    height: 54px;
    background-color: #2D87FB;

    color: #ffffff;
    border-radius: 8px;
    border : 1px solid #5FA3FC;
    padding: 12px 10px;

    text-align: center;
    font-size: large;
    font-family: 'Lato', sans-serif;

}

.wrap:active {
    width: 335px;
    height: 54px;
    background-color: #0051BA;

    color: #ffffff;
    border-radius: 8px;
    border : 1px solid #056BF0;
    padding: 12px 10px;

    text-align: center;
    font-size: large;
    font-family: 'Lato', sans-serif;

}

.wrap:disabled {
    width: 335px;
    height: 54px;
    background-color: #CCCCCC;

    color: #ffffff;
    border-radius: 8px;
    border : 1px solid #E6E6E6;
    padding: 12px 10px;

    text-align: center;
    font-size: large;
    font-family: 'Lato', sans-serif;
}