.wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
}

.FavoriteTopNavbar {
  text-align: center;
  align-items: center;
  width: 100%;
}

.contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* 위쪽 정렬 */
  flex-grow: 1; /* 남은 공간을 채우기 */
  gap: 40px;
  width: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
  align-items: center;
}

.progressBar {
  width: 100%;
  margin-top: 20px; /* ProgressBar와 Title 간의 간격 조정 */
}

.buttonWrap {
  margin-bottom: 34px;
}

.subtitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.genderGrid {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  width: 100%;
}
