.wrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
    margin-bottom: 8px;
}

.imgIcon {
    width: 20px;
    height: 20px;
}

.contentText {
    font-size: 12px;
    color: #333;
}