:global(.slick-dots) {
  position: absolute;
  left: 3px;
  display: block;
  width: 100%;
  padding: 0;
  list-style: none;
  text-align: center;
}

:global(.slick-dots li) {
  position: relative;
  display: inline-block;
  padding: 0;
  cursor: pointer;
}

.wrap {
  width: 100%;

  padding-bottom: 16px; /* 카드의 최대 너비 */
}

/* 슬라이더 트랙 */
.wrap :global(.slick-track) {
  display: flex;
}

/* 개별 슬라이드 아이템 */
.slideItem {
  width: 100%;
  margin: 0px 20px 0px 0px;
  padding: 0px 0px 0px 0px; /* 양쪽 패딩 */
  box-sizing: border-box;
}
