.buttonWrap {
  margin-bottom: 34px;
  width: 100%;
  padding: 0 20px;
}

.header_wrap {
  width: 100%;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.text_box {
  justify-content: center;
  font-size: 20px;
  font-family: 'bold';
  color: #000000;
  padding-bottom: 40px;
  text-align: center;
}

.progressBar {
  display: flex;
  margin-right: auto;
  margin-top: 30px;
}

.text_box2 {
  font-size: 18px;
  font-family: 'bold';
  color: #000000;
}

.favoritetopnavbar {
  /* 상단 내비게이션 바 스타일 */
  margin-top: 0; /* 상단바는 마진을 0으로 설정해줘야 상단에 맞게 붙을 수 있음 */
  width: 100%; /* 전체 너비 사용 */
  display: flex; /* 플렉스를 사용하여 아이콘과 텍스트 정렬 */
  justify-content: space-between; /* 아이콘을 왼쪽, 텍스트는 가운데로 */
  align-items: ceter; /* 아이콘과 텍스트 수직 정렬 */
}

.contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* 위쪽 정렬 */
  flex-grow: 1; /* 남은 공간을 채우기 */
  gap: 40px;
  padding: 0 20px;
  width: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
}
