.wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 812px;
  width: 375px;
  position: relative;
}

.wrap2 {
  height: 54px;
  width: 335px;
  padding-left: 20px;
  background-color: #ffffff;
  border: 1.3px solid #5fa3fc;
  border-radius: 30px;
  font-size: 16px;
  font-family: 'regular';
  color: #000000;
  text-align: left;

  background-image: url(../../../assets/reading_glasses.png);
  background-size: 24px;
  background-position: 300px 15px;
  background-repeat: no-repeat;
}
