.wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 812px;
    width: 375px;
    position: relative;
    
  }
  .input_wrap {
    margin-bottom: 20px;
    border-color: #2D87FB;
  }
  .wrap2 {
    height: 54px;
    width: 335px;
    background-color: #ffffff;
    border: 1.3px solid #5FA3FC;
    border-radius: 30px;
    font-size: 16px;
    font-family: 'regular';
    color :#000000;
    text-align: left;

    background-image: url(../../../assets/reading_glasses.png);
    background-size: 24px;
    background-position:  300px 15px;
    background-repeat: no-repeat;
  }
 
  .wrapper {
    padding-top: 300px;
  }

  .info #info__id {
    position: relative;
  }
  
  #info__id button {
    position: absolute;
    width: 90px;
    height: 40px;
    top: 0;
    bottom: 0;
    right: 5px;
    margin: auto 0;
    border-radius: 3px;
  }